main {
    display: flex;
}

.pacman-container {
    position: absolute;
    top: -40px;
    left: -140px;
    height: 1000px;
    width: 1000px;
    z-index: 5;
}

.pacman-shrink {
    animation: shrink 2s;
    animation-fill-mode: forwards;
}

.pacman-top, .pacman-bottom {
    height: 50%;
    width: 100%;
    background-color: #FBD16F;
}

.pacman-bottom {
    border-radius: 0 0 500px 500px;
    animation: spin-alternate 1000ms linear infinite alternate;
}

.pacman-top {
    border-radius: 500px 500px 0 0;
    animation: spin 1s alternate infinite linear;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(-30deg); 
    }
}

@keyframes spin-alternate { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(30deg); 
    }
}

@keyframes movePacman{
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(100%);
    }
  }

.text-container {
    position: absolute;
    right: 825px;
    top: 400px;
    z-index: -1;
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.1);
    }
}

.shrink-button {
    position: absolute;
    right: 0;
}

